/* ###################################### */
/* Global */
@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(./assets/font/Geist_Mono.woff2)format("woff2");
    unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(./assets/font/Geist_Mono.woff2)format("woff2");
    unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(./assets/font/Geist_Mono.woff2)format("woff2");
    unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Geist Mono Fallback;
    src: local(Arial);
    ascent-override: 74.67%;
    descent-override: 21.92%;
    line-gap-override: 0.0%;
    size-adjust: 134.59%
}

.geist_mono {
    font-family: Geist Mono, Geist Mono Fallback;
    font-style: normal
}

@font-face {
    font-family: inter;
    src: url(./assets/font/InterVariable.ttf)format("truetype");
    font-display: swap
}

@font-face {
    font-family: inter Fallback;
    src: local(Arial);
    ascent-override: 89.79%;
    descent-override: 22.36%;
    line-gap-override: 0.0%;
    size-adjust: 107.89%
}

.inter {
    font-family: inter, inter Fallback
}

:root {
    --color-background-main: #08090a;
    --color-background-invert: #ffffff;
    --color-text-main: #ffffff;
    --color-text-invert: #08090a;
    --color-text-soft: #ffffffb3;
    --color-text-sub: #ffffff99;
    --color-border-sub: #08090a12;
    --color-background-soft: #08090a08;
    --color-border-surface: #ffffff0d;
    --color-muted: #838484;
    --color-border-soft: #ffffff26;
    --color-brand: #2ce19a;
    --color-brand-light: #188b5f;
    --color-border-solid: #ffffff;
    --color-muted-invert: #08090a80;
    --color-dropdown-hover: #f7f7f7;
    --color-header-sales: #ffffff0d;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

html {
    font-family: inter, inter Fallback, system-ui, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1.5;
    tab-size: 4;
    font-family: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    scrollbar-gutter: stable
}

code,
pre,
.mono {
    font-family: "Geist Mono", "Geist Mono Fallback", monospace;
}

b,
strong {
    font-weight: bolder
}

/* ###################################### */
/* Header with logo, nav and cta */
header {
    /* position: relative; */
    z-index: 40;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: 1.5rem; */
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 10px; */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    inset: 0;
    width: 100%;
    /* list-style-type: none; */
}

.header-blur {
    background: transparent;
    backdrop-filter: blur(16px);
}

.header-logo {
    margin-top: .25rem;
}

.header-full {
    display: flex;
    font-size: 15px;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-inline: auto;
    column-gap: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    max-width: 66rem;
}

.header-nav {
    padding-left: 150px;
    font-size: 15px;
    /* margin-left: 200px; */
}

.header-nav-ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* margin-bottom: 20px; */
}

.header-nav-ul-li {
    border-radius: 999px;
    color: var(--color-brand-light);
}

.header-nav-ul-a {
    display: inline-flex;
    height: 2rem;
    width: max-content;
    align-items: center;
    outline-offset: 2px;
    justify-content: center;
    border-radius: calc(infinity * 1px);
    /* border-radius: 999px; */
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-text-main);
    color: #000
        /* border: 2px solid red; */

}

.header-nav-ul-a:focus-visible {
    outline-width: 2px;
    font-size: 15px;
}

.header-nav-ul-a:hover {
    background-color: var(--color-background-soft);
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}


[data-state="open"] {
    background-color: var(--color-background-soft);
}

/* DROPDOWN STYLES START*/
/* TODO: fix padding around drop down elements */
/* TODO: make the p inside li clickable for links */
.dropdown-content {
    display: none;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    padding-block: .25rem;
    padding-inline: 0.75rem;
    width: max-content;
    z-index: 50;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
    color: var(--color-text-invert);
    /* padding-top: 0.5rem; */
    padding-bottom: 0.5rem;
}

.dropdown-content .header-dropdown-item:hover {
    background-color: var(--color-dropdown-hover);
    border-radius: .5rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
    gap: 2rem;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 1.5rem;
    animation-duration: .3s;
    font-size: 15px;
    font-weight: bold;
}

.vertical-nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

.header-dropdown-caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--color-muted);
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 500;
}

/* 
.header-dropdown-item{
    display: inline-flex;
    flex-direction: row;
    line-height: 150%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    row-gap: 200px;
    margin: auto;
    height: auto;
    width: auto;
} */
.header-dropdown-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    padding-block: .25rem;
    padding-inline: .75rem;
    justify-items: stretch;
    align-items: center;
    line-height: 150%;
}

.header-dropdown-svg {
    user-select: none;
    width: 1rem;
    height: 1rem;
    color: var(--color-text-invert);
    grid-column: 1;
    grid-row: 1;
}

.header-dropdown-anchor {
    grid-column: 2;
    grid-row: 1;
    justify-content: left;
}

.header-dropdown-para {
    color: var(--color-muted);
    grid-column: 1 / -1;
    user-select: none;
}

/* DROPDOWN STYLES END*/
/* CTA buttons header */
.header-cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-cta {
    /* color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 15px;
}

.header-cta-a {
    display: inline-flex;
    align-items: center;
    outline-offset: 2px;
    height: fit-content;
    cursor: pointer;
    gap: 0.375rem;
    white-space: nowrap;
    border-radius: 999px;
    font-weight: 500;
    flex-shrink: 0;
    transition-duration: 100ms;
    /* border: 1px solid #fff; */
    /* border-width: 1px; */
    justify-content: center;
    outline-offset: 2px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-inline: 12.75px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.header-cta-a:focus-visible {
    /* outline-width: 2px; */
    outline: 2px solid var(--color-brand-light);
}

.header-cta-a:focus-visible {
    outline-color: var(--color-brand-light);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
}

.header-cta-a-sales {
    background-color: var(--color-header-sales);
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: #000;
}

.header-cta-a-signup {
    background-color: var(--color-text-main);
    color: var(--color-background-main);
    transition: none;
}

.header-cta-a-signup:hover {
    background-color: var(--color-text-soft);
    color: var(--color-background-main);
}

/* ###################################### */
/* Background and hero image section */
/* .hero-section {
    border: 5px solid green;
    margin: 0px;
    padding: 0px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    height: 100vh;
    width: 100%;
    justify-content: center;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */

#hero-bg {
    background-image: url(./assets/img/bg-light.svg);
    /* border: 5px solid red; */
    z-index: -10;
    padding: 0%;
    margin: 0%;
    background-position: 50%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    height: 1157.030px;
    min-width: 100%;
    /* min-height: 100vh; */
    position: absolute;
    display: block;
    /* object-fit: cover; */
    user-select: none;
    top: -93px;
    left: 0%;
    bottom: 160px;
    right: 0%;
    -webkit-mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
    mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
}

.blog-cta-button {
    background-color: #08090a26;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--color-background-soft);
    /* background-color: #08090a26; */
    backdrop-filter: blur(12px);
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /* padding-block: .25rem; */
    gap: 0.625rem;
    border-radius: 60px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 95px;
    width: fit-content;
    border: 0;
    font-display: swap;
    line-height: 1.5;
}

.blog-cta-button:hover {
    background-color: var(--color-border-sub);
}

.blog-cta-new-green {
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    /* padding-inline: .25rem;
    padding-block: .25rem; */
    border-radius: 1.5rem;
    background-color: var(--color-brand-light);
    color: #ffffff;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    box-shadow: 0px 2px 4px 0px var(--color-background-soft);
}

.blog-cta-para {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.5;
    /* word-spacing: ; */
}

.blog-cta-arrow-svg {
    user-select: none;
    color: #fff;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    justify-content: center;
    flex-shrink: 0;
}


.heading-container {
    z-index: 50;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center baseline ; */
    margin-top: 1.8%;

}

.heading {
    z-index: 20;
    display: flex;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 43rem;
    text-align: center;
    color: var(--color-text-main);
    font-weight: 600;
    line-height: 1.15;
    text-wrap: balance;
    letter-spacing: -.02em;
    font-size: 68px;
    font-size: max(2.5rem, min(4vw, 4rem));
    margin-inline: auto;
    /* margin-top: 4.8%; */
}

.para-desc {
    display: flex;
    color: #fff;
    max-width: 29.5rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
    /* align-self: flex-end safe; */
    /* margin-inline: auto; */
    margin-top: -30px;
}

.heading-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 22.5rem;
    gap: 0.375rem;
    border-radius: 999px;
    margin-top: 2rem;
    padding: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-soft);
    backdrop-filter: blur(12px);
    background-color: var(--color-border-soft);
}

.heading-form-input {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2rem;
    outline: none;
    width: 100%;
    color: var(--color-text-main);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    border-radius: 999px;
    background: none;
    /* color: transparent; */
    /* opacity: 0; */
}

::placeholder {
    color: #ffffff80;
    opacity: 1;
}

.heading-form-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    height: fit-content;
    flex-shrink: 0;
    white-space: nowrap;
    cursor: pointer;
    outline-offset: 2px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 999px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: var(--color-background-invert);
    color: var(--color-text-invert);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-background-invert);
    transition-property: color, background-color;
    transition-duration: 100ms;
}

.heading-form-button:hover {
    opacity: 0.85;
    border-radius: 999px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-background-invert);
}

.heading-form-button:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-brand);
}

#hero-image {
    /* background-image: url(./assets/img/hero-image-light.svg); */
    user-select: none;
    /* border: 5px solid blue; */
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: 22% auto;
    padding: 0px;
    background-position: 100%;
    background-repeat: no-repeat;
    /* height: auto; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    top: 9.2rem;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    isolation: isolate;
    background-position-x: 50%;
    background-position-y: 60%;
    border-width: 3px;
    /* border-style: solid; */
    border-radius: 1.5rem;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 67.5rem;
    /* max-width: 67.5rem; */
}

/* trusted by company section */

.company-logos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
    /* border: 2px solid red; */
}

.company-logos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.75rem;
    max-width: 64rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    margin: auto;
    padding: auto;
    margin-top: 40%;
}

.company-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    /* border: 2px solid green; */
    background-repeat: no-repeat;
    background-position: center;
}

.company-logos-svg {
    width: 100%;
    height: 68px;
    width: auto;

}

#company-logos-svg-anthropic {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/anthropic-logo.svg);
    width: 130;
    height: 20;
    fill: none;
    /* color: #000; */
    /* vertical-align: middle; */
    display: block;
}

#company-logos-svg-coinbase {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/coinbase-logo.svg);
}

#company-logos-svg-ms {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/ms-logo.svg);
}

#company-logos-svg-perplexity {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/perplexity-logo.svg);
}

#company-logos-svg-hubspot {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/hubspot-logo.svg);
}

#company-logos-svg-x {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/x-logo.svg);
}

#company-logos-svg-paypal {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/paypal-logo.svg);
}

#company-logos-svg-lovable {
    /* border: 5px solid orange; */
    background-image: url(./assets/company-logos/lovable-logo.svg);
}

/* Feature highligh section */


.feat-high {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    margin-bottom: 9rem;
}

.feat-high-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    gap: 1rem;
}

.feat-high-text-h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.feat-high-text-para {
    max-width: 40.5rem;
    text-align: center;
    color: #393A3B;
    text-wrap: balance;
    overflow-wrap: break-word;
}

.feat-high-visual-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.feat-high-visual-two-columns {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.two-columns {
    border-radius: 1.5rem;
    border: 1px solid var(--color-border-sub);
    padding: 0.375rem;
    width: auto;
    flex: 1;
}

.column-text-area {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small-top-left-para {
    color: var(--color-brand-light);
    font-family: Geist Mono, Geist Mono Fallback, monospace;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.top-left-heading {
    font-weight: 500;
    line-height: 1.3;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: -0.24px;
}

.descriptive-feat-para {
    color: #393A3B;
    font-size: 1rem;
    line-height: 1.5;
    text-wrap: balance;
}

.visual-svg {
    width: 100%;
    height: 20rem;
    position: relative;
    isolation: isolate;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center;
}

#column-1 {
    background-image: url(./assets/img/column-1-img.jpg);
    border: none;
    /* border-radius: 90px; */
}

#column-2 {
    background-image: url(./assets/img/column-2-img.jpg);
    border: none;
    /* border-radius: 90px; */
}

#bottom-image {
    background-image: url(./assets/img/row-bottom-img.jpg);
    border: none;
    width: 100%;
    height: 30rem;
    /* height: 100%; */
    position: relative;
    isolation: isolate;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center;
}

.feat-high-visual-single-bottom {
    width: 100%;
    border-radius: 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-sub);
}

.single-bottom-text-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0.375rem;
    margin-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.single-bottom-para {
    color: var(--color-brand-light);
    font-family: "Geist Mono", "Geist Mono Fallback", monospace;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-wrap: balance;
}

.single-bottom-heading {
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-text-main);
    font-size: 1.5rem;
    letter-spacing: -0.24px;
    color: #000;
}

.single-bottom-descriptive-para {
    color: #393A3B;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    max-width: 40rem;
    text-wrap: balance;
}

/* Enterprise feat section */

.enterprise-features {
    background-color: var(--color-background-soft);
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ente-feat-container {
    width: 100%;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

.ente-feat-heading-cta {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 3rem;
    flex-direction: row;
}

.ente-feat-text-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
}

.ente-feat-title {
    color: var(--color-brand-light);
    font-family: Geist Mono, Geist Mono Fallback, monospace;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: left;

}

.ente-feat-heading {
    text-align: left;
    font-size: 42.5px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -.02em;
}

.ente-feat-descriptive {
    text-align: center;
    text-wrap: balance;
    font-weight: 400;
    color: #393A3B;
}

.ente-feat-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 0.375rem;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 9999px;
    font-weight: 500;
    outline-offset: 2px;
    flex-shrink: 0;
    transition-property: color, background-color;
    transition-duration: 100ms;
    color: var(--color-background-invert);
    background-color: var(--color-text-invert);
    border: 1px solid var(--color-background-invert);
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    margin-right: 0.25rem;
    margin-top: auto;
    align-self: flex-end;
}

.ente-feat-cta:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-brand-light);
}

.ente-feat-cta:hover {
    background-color: #08090ab6;
}

/* .column-1,
.column-2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: auto;
} */

.ente-feat-2-column-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 3rem;
    padding-bottom: 3rem;
    flex-direction: row;
    /* flex: 1; */
    /* justify-content: space-evenly; */
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: auto; */
    /* margin-left: 20px;
    margin-right: auto;
    padding-left: 500px;
    padding-right: 500px; */
    /* justify-content: space-evenly; */
}

.column-icon-div {
    flex-shrink: 0;
    user-select: none;
    width: 2rem;
    height: 2rem;
    color: var(--color-brand-light);
}

#column-1-icon {
    background-image: url(./assets/img/ente-feat-column-1.svg);
}

#column-2-icon {
    background-image: url(./assets/img/ente-feat-column-2.svg);
}

.column-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #000;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.column-description {
    color: #393A3B;
}

.brand-showcase-slide {
    width: 100%;
    /* overflow: hidden; */
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
}

.showcase-image {
    background-image: url(./assets/slide/ente-slide-anthropic.png);
    /* max-width: 48rem; */
    margin: auto;
    height: 518px;
    width: 1088px;
    /* width: 100%; */
    position: relative;
    isolation: isolate;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 2px solid red; */
    border-radius: 1.5rem;
    /* object-fit: contain; */
    background-size: 100% 100%;
}

.showcase-image:hover {
    filter: brightness(80%);
    transition: all 0.2s ease;
}

.brand-logo-footer {
    position: absolute;
    /* z-index: 99999; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* bottom: -10px; */
    min-width: 0;
    overflow: clip;
    margin-top: 27%;
    margin-bottom: 100px;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    --mask-left: black 0px;
    --mask-right: black 100%;
    mask-image: linear-gradient(to right,
            var(--mask-left),
            black,
            var(--mask-right));
}

/* 
.brand-scrollbar {
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
    display: none;
} */

.brand-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: max-content;
    min-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.brand-button {
    /* color: black; */
    display: flex;
    cursor: pointer;
    transition-property: filter, opacity;
    transition-duration: 300ms;
    height: auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 0.125rem;
    border: 0;
    /* border: 2px solid red; */
    background-color: transparent;
    width: 140px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
}
.button-image-svg {
    border-radius: 0.125rem;
    height: 8rem;
    width: 100%;
    /* min-width: 100%; */
    /* border: 2px solid red; */
    filter: grayscale(100%);
}

.brand-button:focus-visible .button-image-svg {
    outline-offset: 4px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-brand-light);
}